<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h1>Login page</h1>
    <p>Example user: admin / adminPassword</p>

    <p th:if="${status=='joinSuccess'}" class="text-success">You have succeeded in joining. Please log in.</p>
    <p th:if="${status=='loginError'}" class="text-danger">Wrong user or password.</p>
    <form th:action="@{/login}" method="post">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
        <label for="password">Password</label>:
        <input type="password" id="password" name="password"/> <br/>
        <input type="submit" value="Log in"/>

        <input id="remember-me" name="remember-me" type="checkbox">
    </form>
    <hr>
    <p><a href="/">Back to home page.</a></p>
    <p><a href="/join" th:href="@{/join}">Go to Join page.</a></p>
</div>

</body>
</html>